html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

$snowledge-green: #009D9B;
$snowledge-green_lighten: #39C4C5;


.animation-wait {
  transition: none !important;
}


.screen-reader {
  display: none; // make this A11y friendly
}

#top-bar {
  display: grid;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  .logo {
    width: 100%;
    max-width: 10rem;
    margin: 0.5rem 1rem;
    padding: 0.25rem 0.5rem;
    transition: 1s ease;
    border-radius: 2px;
  }

  .logo:hover {
    background: lightgray;

  }

  nav {
    grid-row: 2;
    grid-column: 1/3;
  }

  #menu_toggle {
    grid-column: 2;
    grid-row: 1;
    max-width: 10rem;
    justify-self: end;
    background: $snowledge-green;
    margin: 0.5rem 1rem;
    border-radius: 2px;

    .small_menu--opener {
      grid-column: 1;
      margin: 0.5rem;
    }

    .small_menu--icon {
      grid-column: 2;
    }
  }

  #menu { // button
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 2px;
    height: min-content;
    align-self: end;
  }




} // #top-bar







#header-hero {
  display: grid;

  @media (min-width: 60rem) {
    grid-template-columns: 1fr 30rem 30rem 1fr;
  }

  > .gatsby-image-wrapper {
    grid-row: 1/4;
    grid-column: 1/3;
    z-index: -3;

    @media (min-width: 60rem) {
      grid-column: 1/5;
    }

    // clockwise from top left
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%); // guess and check probably needs a calc
  }

  

  .header-hero_color-blocking {
    grid-row: 1/4;
    grid-column: 1/3;
    z-index: -2;
    // background: $snowledge-green;
    mix-blend-mode: multiply;
    padding: 1rem;
    // max-width: 60rem; // guess and check
    // justify-self: center;

    @media (min-width: 60rem) {
      grid-column: 2/4;
    }
    
  }

  #header-byline,
  .header--sliders {
    grid-row: 2;
    grid-column: 1/3;

    @media (min-width: 60rem) {
      grid-column: 1/5;
    }
    width: 100%;
    overflow-x: hidden;

    h2 {
      color:transparent;
      text-transform: uppercase;
      -webkit-text-stroke: 2px white; 
      text-stroke: 2px white; // throws an error in VS Code but it's fine
      // font-size: 200px;
      overflow: hidden;
      width: 286rem; // guess and check

      @media (min-width: 60rem) {
        font-size: 200px;
        height: 230px; // guess and check
        -webkit-text-stroke: 4px white; 
        text-stroke: 4px white;
      }

      
      animation: 20s infinite slideLeft;
      // animation-duration: 3s;
      z-index: 999;
    }



     @keyframes slideLeft {
        from { margin-left: 0rem;
      }
      to {
        margin-left: -143rem; } // guess and check
      }

    h3 {
      color: whitesmoke;
      font-size: 100px;
      height: 100px;
      overflow: hidden;
      width: 200vw;

      @media (min-width: 60rem) {
        font-size: 100px;
        height: 100px;
      }

      animation: 20s infinite slideRight;
    }

    @keyframes slideRight {
      from { margin-left: -60rem;
    }
    to {
      margin-left: 0; } // guess and check
    }
  }

  .download {
    grid-row: 3;
    grid-column: 2;
    z-index: 2;

    display: flex;
    flex-direction: column;

    svg {
      padding: 1rem; // get this closer to the android
      width: 100%;
      max-width: 20rem;
      min-height: 8rem; // guess and check
    }

    @media (min-width: 60rem) {
      grid-column: 3;
    }

    > .gatsby-image-wrapper {
      max-width: 20rem;
    }
  } // #header-byline

  button { // this is the download button
    grid-row: 3;
    grid-column: 1/3;

    justify-self: end;
    margin-right: 4rem;
    margin-bottom: 2rem;

    width: min-content; // temporary hack // why is this full width only here?
  }

  .bottom-block {
    grid-row: 3;
    grid-column: 1/3;
    z-index: -1;
    align-self: end;
  }

  .hero-phone {
    display: none;
    @media (min-width: 60rem) {
      display: block;
      grid-row: 3;
      grid-column: 2;
      z-index: 99; // document what this is above
      max-width: 15rem;
      justify-self: center;
      width: 100%; // needed with justify-self
    }
  }
} // #header-hero

.logo {
  // fill: whitesmoke;
  fill: $snowledge-green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  color: $snowledge-green;
}

// type-scale.com Major Third

h1 {
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

p {
  font-family: sans-serif;
}

#hero-video {
  width: 100%; // needs whatever the responsive 16:9 is
}

main {
  padding: 1rem;
}

button {
  background: $snowledge-green;
  border: none;
  border-radius: 2px;
  color: whitesmoke;
  font-family: sans-serif;
}

a {
  color: $snowledge-green;
}

a:hover {
  color: $snowledge-green_lighten;
}

/* footer {
  // background: black;
  padding: 1rem;

  svg {
    width: 25%;
  }
} */

#home-main {
  display: grid;
  @media (min-width: 76rem) { // this is the widest so it locks down
    grid-template-columns: 1fr 35rem 35rem 1fr;
    grid-gap: 2rem;
  }

  #our-story-title {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    max-width: 40rem;
    // margin: 0 auto; // this gets annoying where it needs a 

    @media (min-width: 60rem) {
      justify-self: end;
      margin: 0;
      grid-column: 2;
    }
  }

  #our-story {
    grid-row: 2;
    grid-column: 1;
    max-width: 40rem;
    margin: 0 auto;

    @media (min-width: 60rem) {
      margin: 0;
      justify-self: end;
      grid-column: 2;
    }

  }

  .main-color-blocking {
    grid-row: 1/4; // ?
    grid-column: 1;
    z-index: -1;

    @media (min-width: 60rem) {
      grid-row: 1/7;
      grid-column: 1/5;
    }
  }
} // #home-main

#hero-video {
  grid-row: 3;
  grid-column: 1;

  display: grid;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;

  @media (min-width: 60rem) {
    grid-column: 2;
  }


  iframe {
    grid-row: 1;
    grid-column: 1;
    border: 10px solid whitesmoke;
    margin: 2rem;
    align-self: center;

    width: calc(100% - 4rem);
  }

  .video-color-blocking {
    grid-row: 1;
    grid-column: 1;
    z-index: -1;
  }

} // #hero-video

#features-title {
  grid-row: 4;
  grid-column: 1;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;

  @media (min-width: 60rem) {
    grid-column: 2;
  }
}

#features-text {
  grid-row: 5;
  grid-column: 1;
  max-width: 40rem;
  margin: 0 auto;

  @media (min-width: 60rem) {
    grid-column: 2;
  }
}

.features-color-blocking {
  grid-row: 4/7;
  grid-column: 1;
  z-index: -1;

  @media (min-width: 60rem) {
    display: none;
  }
}

.home-phone-place {
  grid-row: 6;
  grid-column: 1;

  width: 100%;
  max-width: 30rem;
  justify-self: center;

  // this moves into the header in a complete reload
  @media (min-width: 60rem) {
    display: none;
  }
}

// testing and I want to not need it but for now I do
.home-blank {
  @media (min-width: 60rem) {
    // background: tomato;
    grid-row: 7;
    grid-column: 2;
    // height: 30rem; // test
  }
}

#features-list {
  color: $snowledge-green;
  font-size: 2.441em;
  line-height: 1.5em;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;

  @media (min-width: 60rem) {
    grid-row: 1/8; // I think with it being 1 extra I can fix the heights
    grid-column: 3;
    font-size: 1.953rem;
  }

  li {
    list-style: none;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid $snowledge-green;
    // Im not quite sure how I am changing the angle on these
  }

  li:last-child {
    border: none;
  }
}

#main-download {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h3 {
    grid-row: 1;
    grid-column: 1;
  }

  .main-download-color-blocking {
    grid-row: 1/3;
    grid-column: 1/3;
    margin-top: 2em;
  }

  .home-download {
    grid-row: 1/3;
    grid-column: 2;
  }

  .main-download-badges-color-blocking {
    grid-row: 1;
    grid-column: 2;
  }
} // #main-download

footer {
  display: grid;
  // grid-template-columns: 1fr 1fr; // I dont think I need this

  @media (min-width: 76rem) {
    // grid-template-columns: 1fr 35rem 35rem 1fr; 
    // I cant template this at all
    grid-template-columns: auto;
    // grid-gap: 2rem;
  }

  #footer-title {
    grid-row: 1;
    grid-column: 1;
    color: whitesmoke;
    align-self: end;
    z-index: 99; // double check what I need to be over here and if I can do it better
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;

    @media (min-width: 76rem) {
      grid-column: 3;
      width: min-content;
      justify-self: end;
    }
  }

  .footer-download-badges {
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    z-index: 99;
    max-width: 20rem; // guess and check
    margin-right: 1rem;

    @media (min-width: 40rem) {
      grid-column: 2;
      
    }

    @media (min-width: 76rem) {
      grid-column: 3;
      width: 10rem; // guess and check
      justify-self: end;
    }

    > .download > svg {
      width: 100%;
      min-height: 4rem; // guess and check
    }
  }

/*
  // currently gone
  .footer-download-color-blocking {
    grid-row: 1/4;
    grid-column: 1/3;
  } */

  .footer-download-badges-color-blocking {
    grid-row: 1/3;
    grid-column: 1;
    background: $snowledge-green;
    clip-path: polygon(0 3rem, 100% 1rem, 100% calc(100% - 1rem), 0 100% );
    z-index: 2;
    
    @media (min-width: 76rem) {
      grid-row: 1/3;
      grid-column: 3;
      width: 13rem; // guess and check
      justify-self: end;
    }
  }

  #footer-social {
    grid-row: 1/3;
    grid-column: 2;
    z-index: 99;
    list-style: none;
    width: 6rem; // guess and check
    justify-self: start;

    @media (min-width: 76rem) {
      grid-column: 4;
    }

    // background: slategrey;

    ul li {
      list-style: none;
    }

    svg {
      // fill: $snowledge-green;
      width: 100%;
      max-height: 3rem;
    }
  }

  #footer-social-blocking {
    grid-row: 1/3;
    grid-column: 2;
    background: darkslategray;
    width: 8rem; // guess and check
    justify-self: start;
    z-index: 3;
    clip-path: polygon(0 1rem, 100% 0, 100% calc(100% - 2rem), 0 calc(100% - 1rem)); // needs work
    
    @media (min-width: 76rem) {
      grid-column: 4;
    }
  }

  .footer-color-blocking-primary {
    grid-row: 1/3;
    grid-column: 1/3;
    align-self: end;
  }

  .footer-color-blocking-black {
    margin-top: 50%; // guess and check
    grid-row: 1/3;
    grid-column: 1/3;
    // align-self: end;
    z-index: 1;
    background: black;

    @media (min-width: 76rem) {
      grid-row: 1/4;
      grid-column: 1/6;
      margin-top: 0;
      clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%); // guess and check
    }
  }

  #footer-color {
    grid-row: 3;
    grid-column: 1/3;
    background: black;
    max-width: 76rem;

    @media (min-width: 76rem) {
      grid-column: 2/5;
      z-index: 4;
    }
  }
} // footer


#footer-color {
  display: grid;

  .footer-logo {
    grid-row: 1;
    grid-column: 1;

    max-width: 15em;

    svg {
      fill: whitesmoke;
    }
  }

  nav {
    grid-row: 2;
    grid-column: 1;
  }

  .footer-copyright {
    grid-row: 3;
    grid-column: 1;

    color: whitesmoke;

    @media (min-width: 76rem) {
      justify-self: center;
    }
  }

  a {
    color: whitesmoke;
  }

  #footer-info {
    display: flex;
    @media (min-width: 76rem) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }


} // #footer-color


// TESTING 💣
#box {
  background-color: rgba(40, 40, 190, 255);
  border: 4px solid rgb(20, 20, 120);
  transition: background-color 1s, border 1s;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.vertical {
  color: white;
  font: 32px "Arial";
}

.extra {
  width: 350px;
  height: 350px;
  margin-top: 10px;
  border: 4px solid rgb(20, 20, 120);
  text-align: center;
  padding: 20px;
}

// end of test


#header-byline__name,
#header-byline__byline {
  transition: 10s ease; // do this super slow so theres no noticeable jumps in the IntersectionObserver
}


.active {
  display: inline; // jump to version
  // margin-top: 4rem; // enough to show the home line
}

.inactive {
	display: none; // jump to version
  // margin-top: calc(-100% + 4rem); // this is too much
}

.active ~ #menu_toggle > .small_menu--icon > .small_menu--icon-topline {
  transform: rotate(45deg);
//   top: 0.35rem; // guess and check
	grid-row: 1;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	margin: 0;
}

.active ~ #menu_toggle > .small_menu--icon > .small_menu--icon-bottomline {
  transform: rotate(-45deg);
//   top: -0.35rem;
	grid-row: 1;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	margin: 0;
}

.small_menu--opener,
.small_menu--icon {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}

.small_menu--icon {
  justify-self: end;
  margin-right: 1rem;
  transition: 2s ease; // the slide in on load is kinda nice but maybe overkill
  // background: tomato;
  cursor: pointer; // match the link

  display: grid;
}

.small_menu--icon span {
  transition: 0.5s ease; // the slide in on load is kinda nice but maybe overkill
}

.small_menu--icon-topline,
.small_menu--icon-bottomline {
  width: 1rem;
  height: 0.25rem;
  background: whitesmoke;
  display: block;
  transform: rotate(0deg);
  top: 0;
  position: relative;
}

.small_menu--icon-bottomline {
  margin-top: 0.5rem;
  // background: tomato; // which line is which
}

#menu_toggle {
  z-index: 2; // sliding menu
  position: relative; // needed for z-index

  display: grid;

 /*  @media (min-width: map-get($breakpoints, medium)) {
	display: none;
  } */
}

// top bar menu that I havent worked on yet
.reveal-later {
  display: none;
}

.top-bar__Menu {
  display: flex;
  flex-direction: row;

  li {
    list-style: none;
    margin: 1rem 2rem;
  }
}

.team--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: 0 auto;

  article {
    margin: 1rem;
    flex: 1;
  }
}

.profile {
  width: 100%;
  max-width: 300px; // specific max size of these images
  border-radius: 2px;
}

hr {
  width: 100%;
}

.team-card {
  display: grid;
  margin: 2rem;
  box-shadow: 5px 2px 2px lightgray;

  .profile {
    border-radius: 50%;
    grid-row: 1/4;
    grid-column: 1;
    width: 10rem;
    border: 4px solid whitesmoke;
  }

  h2 {
    grid-row: 2;
    grid-column: 2;
    margin-top: 1rem;
  }

  section {
    grid-row: 3;
    grid-column: 2;
    margin: 1rem;
  }

  .profile-background {
    background: whitesmoke;
    grid-row: 2/4;
    grid-column: 1/3;
    z-index: -1;
  }
}

.teamcoverprofile {
  grid-row: 1/3;
  grid-column: 1;
  margin: 1rem;
  align-self: center;
}

.teamcoverimage {
  grid-row: 1;
  grid-column: 1/3;
  
  .gatsby-image-wrapper {
    max-height: 10rem;
  }
}

.team {
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  background: whitesmoke;
  border-radius: 5px;
  grid-template-rows: 10rem 1fr;
  grid-template-columns: 10rem 1fr;

  // this should be a nice extend
  .profile {
    border-radius: 50%;
    grid-row: 1/4;
    grid-column: 1;
    width: 10rem;
    border: 4px solid whitesmoke;
    height: 10rem;
    width: 10rem;
  }

  h1 {
    grid-row: 1;
    grid-column: 1;
  }

  header {
    grid-row: 1;
    grid-column: 2;
  }

  .bio {
    grid-row: 2;
    grid-column: 1/3;
  }
}

// this stuff is all getting really scrappy I need some good cards
.blog-cards .team-card{
  max-width: 20vw;
}

.regular-page {
  max-width: 80rem;
  margin: 0 auto;
}

// .header--sliders {
//   grid-row: 2;
//   width: 100%;
//   grid-column: 1/3;
//   overflow-x: hidden;

//   @media (min-width: 60rem) {
//       grid-column: 1/5;
//   }

//   h2 {
//     font-size: 200px;
//     stroke: 4px white;
//     color: transparent;
//     text-transform: uppercase;
//   }

//   h3 {
//     font-size: 100px;
//     color: whitesmoke;
//   }
// }